.loginScreen {
    position: relative;
    background-image: url("https://wpassets.brainstation.io/app/uploads/2017/04/13100509/Netflix-Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.loginScreen__logo {
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 45px;
}

.loginScreen__button {
    position: fixed;
    right: 48px;
    top: 28px;
    padding: 5px 15px;
    background-color: red;
    border-color: transparent;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.loginScreen__gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(
        to top,
        rgba(0,0,0,.8) 0,
        rgba(0,0,0,0) 60%,
        rgba(0,0,0,.8) 100%
    )
}

.loginScreen__body {
    position: absolute;
    text-align: center;
    top: 15%;
    z-index: 1;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.loginScreen__body h1, .loginScreen__body h2, .loginScreen__body h3 {
    margin: 0 auto;
} 

.loginScreen__body h1 {
    font-size: 3.123rem;
    margin-bottom: 20px;
    max-width: 640px;
    line-height: 1.1;
}

.loginScreen__body h2 {
    font-size: 1.625rem;
    margin-bottom: 30px;
    font-weight: 400;
    max-width: 640px;
}

.loginScreen__body h3 {
    font-size: 1.2rem;
    font-weight: 400;
    max-width: 950;
}

.loginScreen__input {
    margin: 20px
}

.loginScreen__input > form > input {
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    max-width: 600px;
    border-color: transparent;
    font-size: 1rem;
}

.loginScreen__getStarted {
    padding: 15px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: red;
    border-color: transparent;
}